{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">

<div class="card">
    <h5 class="card-header">Featured</h5>
    <div class="card-body">
      <h5 class="card-title">Special title treatment</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Excepturi debitis perspiciatis, dolorum consequatur repellat ipsam recusandae dignissimos incidunt blanditiis officia reprehenderit, aliquam, beatae ab labore voluptas placeat. Distinctio velit quidem vitae omnis obcaecati possimus minus odit, deleniti ex harum atque fuga at saepe aliquam impedit soluta odio ipsa neque perferendis doloremque. Praesentium harum fugit sed debitis porro. Atque maxime velit reiciendis commodi blanditiis maiores minus ea ex eligendi perferendis, eos aliquam nesciunt quae magnam voluptatibus voluptatum accusantium temporibus, error pariatur! Eum aut doloribus assumenda adipisci doloremque, debitis ipsum quam architecto iusto sunt, iste odio. Id eveniet iste omnis nulla illo.</p>
      
    </div>
</div>

</div>

{% endblock %}